DATABASE_URL=your_database_url
PGDATABASE=neondb
PGHOST=your_pg_host
PGPORT=5432
PGUSER=neondb_owner
PGPASSWORD=your_pg_password

# Pathao Courier API Configuration
PATHAO_CLIENT_ID=your_client_id
PATHAO_CLIENT_SECRET=your_client_secret
PATHAO_USERNAME=your_email
PATHAO_PASSWORD=your_password
# Pathao Courier API Configuration (Production)
# Merchant ID: 359119
PATHAO_BASE_URL=https://api-hermes.pathao.com
PATHAO_STORE_ID=your_pathao_store_id

# SSLCommerz Configuration
STORE_ID=your_store_id
STORE_PASSWORD=your_store_password
IS_LOCALHOST=true
BACKEND_URL=http://localhost:5000
SSLCOMMERZ_MODE=sandbox
